* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    --color-canard: #55828B;
    --color-white: #FFFEFF;
    --color-brown: #645555;
    --color-lightbrown: #b0a3a4;
}

.random-app {
    width: 90%;
    margin: auto;
    text-align: center;
}

.random-app header {
    margin: 10px;
    color: var(--color-brown);
}

.random-app header hr {
    margin-top: 5px;
    border: 1px solid var(--color-canard);
}

.random-app section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.random-app article {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px 10px var(--color-lightbrown);
    margin: 10px;
    padding: 5px;
}

.random-app article img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px var(--color-lightbrown),
        -10px -10px 20px var(--color-white);
}

.user {
    border-radius: 5px;
    padding: 5px;
    color: var(--color-canard);
}

.name {
    font-weight: bold;
    padding: 5px;
}

.name hr {
    border: 1PX solid var(--color-lightbrown);
}

.infos p {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: small;
}