* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    --color-canard: #55828B;
    --color-white: #FFFEFF;
    --color-brown: #645555;
    --color-lightbrown: #b0a3a4;
}

.addresse {
    width: 90%;
    margin: auto;
    text-align: center;
}

.addresse header {
    margin: 10px;
    color: var(--color-brown);
}

.addresse header hr {
    margin-top: 5px;
    border: 1px solid var(--color-canard);
}

.addresse section {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.addresse input {
    background-color: var(--color-white);
    color:var(--color-canard);
    border: none;
    border-radius: 3px;
    width: 400px;
    height: 30px;
    font-size: 16px;
}